   <header>
        <div class="profile" style="padding-top: 5px;">
         <a href="dashboard/profile" data-profile><img src={{img}} width="40px" height="40px"></a>
        </div>
        {{> header}}
    </header>
   <div class="container" data-container>
    {{#each tasks}}
         <a class="ui card" style="width: 100%" href="/" id="card">
                <div class="content">
                  <div class="task-header">
                    {{title}} <i class="fa fa-times blue" aria-hidden="true" data-delete-task></i>
                      </div>
                  <div class="meta">{{createdAt}}</div>
                  <div class="description">
                      {{#if location}}
                    <p><strong>Location:</strong> {{location}}</p>
                      {{/if}}
                    <p><strong>Due:</strong> {{due}}</p>
                    <p><strong>Description:</strong> {{#partialContent content}}{{/partialContent}}</p>
                </div>
                <div class="ui two buttons">
                    <div class="ui basic green button">Done</div>
                    <div class="ui basic blue button" data-info={{id}}>More</div>
                    </div>
                </div>
              </a>
{{/each}}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.10/dist/semantic.min.js"></script>
<script src="javascripts/dashboard.js"></script>

